* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

body {
  background-color: black;
}

.card-container {
  background-color: rgb(250, 250, 250);
  width: 300px;
  padding: 30px;
  border-radius: 2px;
}

.heading-text {
  color: black;
  font-size: 22px;
  font-weight: bold;
  width: 250px;
}

.subheading-text {
  color: rgb(173, 173, 171);
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.card-text {
  color: rgba(0, 0, 0, 0.822);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  width: 220px;
  margin-top: 10px;
}

.button-card {
  background-color: green;
  color: beige;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
}

.button-card:hover {
  background-color: black;
  color: white;
}
